<a href="https://colab.research.google.com/github/francomanca93/analisis-de-datos/blob/comienzo/1-Comenzando-con-pandas/2_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series e Indexación y selección de datos

In [1]:
import pandas as pd

Creando una serie con pandas

In [2]:
pd.Series([10,9,8,7,6])

0    10
1     9
2     8
3     7
4     6
dtype: int64

Creando y definiendo una serie con pandas

In [3]:
serie = pd.Series([10,9,8,7,6])

Obteniendo los valores de la serie

In [4]:
serie.values

array([10,  9,  8,  7,  6])

Obteniendo los indices de los valores de la serie.

In [5]:
serie.index

RangeIndex(start=0, stop=5, step=1)

Tamaño de la serie

In [6]:
serie.shape

(5,)

Obteniendo valores de la serie a través de sus índices.

In [7]:
serie[3]

7

In [8]:
serie[[0,4,2]]

0    10
4     6
2     8
dtype: int64

Definiendo nuevos indices para la serie

In [9]:
serie = pd.Series([10,9,8,7,6], index = ['a', 'b', 'c', 'd', 'e'])
serie

a    10
b     9
c     8
d     7
e     6
dtype: int64

In [10]:
serie['c']

8

In [11]:
serie[['c', 'd', 'e']]

c    8
d    7
e    6
dtype: int64

In [12]:
serie['b': 'e']

b    9
c    8
d    7
e    6
dtype: int64

Trabajando con diccionario

In [13]:
dict_data = {'CO':100,'MX':200,'AR':300}
dict_data

{'AR': 300, 'CO': 100, 'MX': 200}

In [14]:
dict_data.keys()

dict_keys(['CO', 'MX', 'AR'])

In [15]:
dict_data['MX']

200

Definiendo el diccionario como serie

In [16]:
pd.Series(dict_data)

CO    100
MX    200
AR    300
dtype: int64

In [17]:
pd.Series(dict_data, index=['CO', 'MX', 'PE'])

CO    100.0
MX    200.0
PE      NaN
dtype: float64

Trabajando con valores nulos

In [18]:
import numpy as np

In [19]:
np.nan

nan

In [20]:
np.nan + 10

nan

In [21]:
np.nan * 10

nan

In [22]:
serie = pd.Series(dict_data, index=['CO', 'MX', 'PE'])
serie

CO    100.0
MX    200.0
PE      NaN
dtype: float64

In [23]:
serie.isnull()

CO    False
MX    False
PE     True
dtype: bool

In [24]:
serie.notnull()

CO     True
MX     True
PE    False
dtype: bool

Filtrando de los datos.

Esta funcion adicionalmente nos regresa un booleano indicandonos si existe (TRUE) o no existe (FALSE) algun nan

In [25]:
serie.isnull().any()

True

si hacemos **sr[sr.notnull()]** nos regresa los valores de la serie que “NO” son nulos.

In [26]:
serie[serie.notnull()]

CO    100.0
MX    200.0
dtype: float64