<a href="https://colab.research.google.com/github/francomanca93/analisis-de-datos/blob/comienzo/1-Comenzando-con-pandas/3_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataframes

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

Actualizando nuestra librer√≠a de pandas

In [3]:
# !pip install --upgrade pandas

### Creando dataframe

In [4]:
dict_data = {'CO':100,'MX':200,'AR':300}
dict_data

{'AR': 300, 'CO': 100, 'MX': 200}

In [5]:
pd.Series(dict_data)

CO    100
MX    200
AR    300
dtype: int64

In [14]:
dict_data = {
    'CH': [100, 800, 200],
    'CO': [100, 200, 200],
    'AR': [300, 400, 400]
}

dict_data

{'AR': [300, 400, 400], 'CH': [100, 800, 200], 'CO': [100, 200, 200]}

In [16]:
df = pd.DataFrame(dict_data)

print(df)

    CH   CO   AR
0  100  100  300
1  800  200  400
2  200  200  400

Ahora creemos un dataframe un poco mas complejo y con mayor cantidad de datos tanto en columna como en filas.

In [17]:
import numpy as np

In [20]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [23]:
df = pd.DataFrame(dict_data)

print(df)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [69]:
 df = pd.DataFrame(dict_data, index = ['ana','benito','camilo','daniel','erika','fabian','gabriela'])

 print(df)

          edad   cm pais genero    Q1  Q2
ana         10  115   co      M   5.0   7
benito       9  110   mx      F  10.0   9
camilo      13  130   co      F   8.0   9
daniel      14  155   mx      M   NaN   8
erika       12  125   mx      M   7.0   8
fabian      11  120   ch      M   8.0   8
gabriela    12  125   ch      F   3.0   9

## Conociendo a nuestro dataframe

Cuando se empiezar a analizar un set de datos luego de tenerlo como un dataframe(df) lo primero de debemos hacer es conocerlo, tanto como su estructura, tipos de datos, labels, etc.

df.info(): Te devuelve un resumen con la estructura de las variables y el tipo de datos que contienen.

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, ana to gabriela
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   edad    7 non-null      int64
 1   cm      7 non-null      int64
 2   pais    7 non-null      object
 3   genero  7 non-null      object
 4   Q1      6 non-null      float64
 5   Q2      7 non-null      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 392.0+ bytes

df.describe(): Te devuelve un summary() de tu set de datos. Si tienes variables numericas te devolvera: minimo. maximo, media,std,‚Ä¶etc de las columnas numericas.

In [72]:
print(df.describe())

            edad          cm         Q1        Q2
count   7.000000    7.000000   6.000000  7.000000
mean   11.571429  125.714286   6.833333  8.285714
std     1.718249   14.556949   2.483277  0.755929
min     9.000000  110.000000   3.000000  7.000000
25%    10.500000  117.500000   5.500000  8.000000
50%    12.000000  125.000000   7.500000  8.000000
75%    12.500000  127.500000   8.000000  9.000000
max    14.000000  155.000000  10.000000  9.000000

Labels de filas y columnas

In [25]:
df.index

Index(['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'], dtype='object')

In [26]:
df.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

Nos entrega una matriz con los datos del dataframe

In [27]:
df.values

array([[10, 115, 'co', 'M', 5.0, 7],
       [9, 110, 'mx', 'F', 10.0, 9],
       [13, 130, 'co', 'F', 8.0, 9],
       [14, 155, 'mx', 'M', nan, 8],
       [12, 125, 'mx', 'M', 7.0, 8],
       [11, 120, 'ch', 'M', 8.0, 8],
       [12, 125, 'ch', 'F', 3.0, 9]], dtype=object)

## Extracci√≥n de datos

In [28]:
df['edad']

ana         10
benito       9
camilo      13
daniel      14
erika       12
fabian      11
gabriela    12
Name: edad, dtype: int64

In [39]:
print(df[['edad', 'cm', 'Q1']])

          edad   cm    Q1
ana         10  115   5.0
benito       9  110  10.0
camilo      13  130   8.0
daniel      14  155   NaN
erika       12  125   7.0
fabian      11  120   8.0
gabriela    12  125   3.0

Con el metodo .loc podemos extraer datos utilizando los label tanto de las filas como de las columnas

In [40]:
df.loc['ana',['edad', 'cm', 'Q1']]

edad     10
cm      115
Q1        5
Name: ana, dtype: object

In [42]:
print(df.loc[['ana','erika'],['edad', 'cm', 'Q1']])

       edad   cm   Q1
ana      10  115  5.0
erika    12  125  7.0

In [44]:
print(df.loc['daniel','Q1'])

nan

Con el m√©todo .iloc puedo localizar elementos de mi dataframe a trav√©s de la posicion numerica de filas y columna.

In [46]:
print(df)

          edad   cm pais genero    Q1  Q2
ana         10  115   co      M   5.0   7
benito       9  110   mx      F  10.0   9
camilo      13  130   co      F   8.0   9
daniel      14  155   mx      M   NaN   8
erika       12  125   mx      M   7.0   8
fabian      11  120   ch      M   8.0   8
gabriela    12  125   ch      F   3.0   9

In [47]:
print(df.iloc[2,1])

130

In [49]:
print(df.iloc[[2, 4, 6],[1, 3]])

           cm genero
camilo    130      F
erika     125      M
gabriela  125      F

In [51]:
print(df.iloc[:,[1, 3]])

           cm genero
ana       115      M
benito    110      F
camilo    130      F
daniel    155      M
erika     125      M
fabian    120      M
gabriela  125      F

* df.loc: Para ubicar por el nombre de las columnas e indices
* df.iloc: Para ubicar por n√∫mero de columna y fila

Utilizando .loc y .iloc podemos extraer subconjuntos de datos de un dataframe y poder extraer valor de los mismos.

## Filtrando datos

Gracias a los operadores relacionales puedo filtrar columnas o filas. 

Ejemplo: Quiero de mi dataframe de la columna **edad** a todos los estudiantes mayores o iguales a 12

In [52]:
df['edad'] >= 12

ana         False
benito      False
camilo       True
daniel       True
erika        True
fabian      False
gabriela     True
Name: edad, dtype: bool

El filtro anterior me da un columna con variables booleanas y lo puedo utilizar para formar un nuevo dataframe sin los valores False.

In [55]:
print(df[df['edad'] >= 12])

          edad   cm pais genero   Q1  Q2
camilo      13  130   co      F  8.0   9
daniel      14  155   mx      M  NaN   8
erika       12  125   mx      M  7.0   8
gabriela    12  125   ch      F  3.0   9

Tambien puedo utilizar los operadores l√≥gicos y concatenar mas de una consulta o filtro.

Ejemplo: Quiero a los mayores de 12 a√±os y que sean de Mexico. A estos agregamelos en un nuevo dataframe.

In [62]:
data_ejemplo = df[(df['edad'] >= 12) & (df['pais'] == 'mx')]
print(data_ejemplo)

        edad   cm pais genero   Q1  Q2
daniel    14  155   mx      M  NaN   8
erika     12  125   mx      M  7.0   8

Tambien se puede utilizar la funci√≥n query() de la siguiente manera.

In [59]:
print(df.query('edad > 12'))

        edad   cm pais genero   Q1  Q2
camilo    13  130   co      F  8.0   9
daniel    14  155   mx      M  NaN   8

La funci√≥n query aumenta la legibilidad del c√≥digo. Ejemplo:

In [68]:
print(df.query( 'edad >= 12 and pais == "mx"'))

        edad   cm pais genero   Q1  Q2
daniel    14  155   mx      M  NaN   8
erika     12  125   mx      M  7.0   8

In [67]:
print( df[(df['edad'] >= 12) & (df['pais'] == 'mx')])

        edad   cm pais genero   Q1  Q2
daniel    14  155   mx      M  NaN   8
erika     12  125   mx      M  7.0   8

Muestran los mismos resultados pero el primero es mucho m√°s legible que el segundo.

Tambien podemos comparar dos columnas que tengas los mismos tipos. 

Ejemplo: Filtrame los que tengan en la columna de calificacion Q2 mayor o igual nota respecto a la columna Q1.

In [60]:
print(df['Q2'] >= df['Q1'])

ana          True
benito      False
camilo       True
daniel      False
erika        True
fabian       True
gabriela     True
dtype: bool

Formemos un nuevo dataframe con este filtro.

In [63]:
data_filtro_notas = df[df['Q2'] >= df['Q1']]
print(data_filtro_notas)

          edad   cm pais genero   Q1  Q2
ana         10  115   co      M  5.0   7
camilo      13  130   co      F  8.0   9
erika       12  125   mx      M  7.0   8
fabian      11  120   ch      M  8.0   8
gabriela    12  125   ch      F  3.0   9