<a href="https://colab.research.google.com/github/francomanca93/analisis-de-datos/blob/comienzo/1-Comenzando-con-pandas/4_Guardar_y_cargar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indexado y manejo de archivos CSV

Los que aprenderemos en esta notebook será como conectar nuestro ambiente de trabajo con nuestro nube personal de google drive, generar nuestro primeros archivos en csv y aprender a leerlos.

**csv** es el formato universal mas simple que se usa para compartir informacion.

## Conectandome a la nube de google

In [1]:
# !pip install --upgrade pandas

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
analisis-de-datos-con-pandas  fundamentos_algebra_lineal  republica-liberal

In [4]:
%cd '/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas'
!ls

/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas
'1. Configurando Google.ipynb'	 3.Dataframes.ipynb	      db
 2.Series.ipynb			'4. Guardar y cargar.ipynb'

In [8]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/analisis-de-datos-con-pandas/db

mkdir: cannot create directory ‘/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db’: File exists

## Creando y almacenando DataFrame

Podemos crear string formateados, esto quiere decir que podemos escribir lo que nosotros queramos en el formateado, por ejemplo:

In [5]:
'Hola Mundo'

'Hola Mundo'

In [6]:
'Hola {}'.format('Mundo')

'Hola Mundo'

In [7]:
'Hola {}'.format('blablabla')

'Hola blablabla'

Esto nos va a permitir almancenar mas rapido nuestra información.

In [9]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db/test.csv'

In [12]:
import pandas as pd
import numpy as np

pd.__version__

'1.0.5'

In [13]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [15]:
df = pd.DataFrame(dict_data)
print(df)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Leyendo DataFrame de nuestra nube.

In [16]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db/test.csv'

Guardamos nuestro dataframe y le decimos que no queremos los indices en el dataframe (index=False)

In [26]:
df.to_csv(dir_pandas, index=False)

Vamos a la ubicación donde guardamos nuestro dataframe.

In [27]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/analisis-de-datos-con-pandas/db

test.csv

Leemos el dataframe y lo guardamos en una variable.

In [28]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db/test.csv')
print(df_read)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

Podemos guardar nuestro dataframe con una separación distinta a la que viene por defecta, **la coma**. En este caso **la linea '|'**.

In [29]:
dir_pandas_separacion_diferente = '/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db/{}'.format('test-separacion-diferente.csv')
df.to_csv(dir_pandas_separacion_diferente, sep = '|', index=False)

In [30]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/analisis-de-datos-con-pandas/db

test.csv  test-separacion-diferente.csv

Si leemos nuestro dataframe guardado con un metodo de separación diferente de la coma tendremos todo en una sola columna.

In [33]:
df_read_separacion_diferente = pd.read_csv('/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db/test-separacion-diferente.csv')
print(df_read_separacion_diferente)

  edad|cm|pais|genero|Q1|Q2
0         10|115|co|M|5.0|7
1         9|110|mx|F|10.0|9
2         13|130|co|F|8.0|9
3            14|155|mx|M||8
4         12|125|mx|M|7.0|8
5         11|120|ch|M|8.0|8
6         12|125|ch|F|3.0|9

Lo que debemos hacer es indicarle a la función cuando leemos nuestro dataset un metodo de separación diferente.

In [34]:
df_read_separacion_diferente = pd.read_csv('/content/drive/My Drive/Colab Notebooks/analisis-de-datos-con-pandas/db/test-separacion-diferente.csv', sep='|')
print(df_read_separacion_diferente)

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9