<a href="https://colab.research.google.com/github/francomanca93/analisis-de-datos/blob/aplicaciones/3-Aplicando-pandas/14_Group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group by

En esta sección aprenderemos a como agrupar nuetro dataframe bajo una categoria y sobre esta aplicar algunas funciones estadísticas. Tambien aprenderemos a crear nuestra propia función y agregarla al estudio.

In [5]:
import pandas as pd
import numpy as np

Vamos a utilizar una base de datos que se encuentra en una importante libreria de visualizacion de datos, **seaborn**. La misma se llama **diamonds**, es una base de datos que muestra diferentes caracteristicas de diamantes como quilates, tipo de corte, color, claridad, precio y dimensiones.

In [3]:
import seaborn as sns
df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

**.groupby()** es un método que nos permite agrupar los datos dada una variable. Este método nos crea un elemento de grupo y sobre el puedo aplicar otras funciones, en este caso el promedio.

In [6]:
df.groupby('cut')

In [7]:
df.groupby('cut').mean()

              carat      depth      table  ...         x         y         z
cut                                        ...
Fair       1.046137  64.041677  59.053789  ...  6.246894  6.182652  3.982770
Good       0.849185  62.365879  58.694639  ...  5.838785  5.850744  3.639507
Ideal      0.702837  61.709401  55.951668  ...  5.507451  5.520080  3.401448
Premium    0.891955  61.264673  58.746095  ...  5.973887  5.944879  3.647124
Very Good  0.806381  61.818275  57.956150  ...  5.740696  5.770026  3.559801

[5 rows x 7 columns]

Podemos sacar conclusiones, en este caso para aquellos diamantes con cortes premium, el precio promedio oscila alrededor de los 4500 usd.

Podemos utilizar otras funciones. En este caso el método .median(), es un método que me permite obtener una media **menos** sesgada ya que tiene en cuenta la distribución normal.

In [8]:
df.groupby('cut').median()

           carat  depth  table   price      x     y     z
cut
Fair        1.00   65.0   58.0  3282.0  6.175  6.10  3.97
Good        0.82   63.4   58.0  3050.5  5.980  5.99  3.70
Ideal       0.54   61.8   56.0  1810.0  5.250  5.26  3.23
Premium     0.86   61.4   59.0  3185.0  6.110  6.06  3.72
Very Good   0.71   62.1   58.0  2648.0  5.740  5.77  3.56

Puedo seleccionar columnas y contar los datos por ejemplo

In [10]:
df.groupby('cut')['carat'].count()

cut
Fair          1610
Good          4906
Ideal        21551
Premium      13791
Very Good    12082
Name: carat, dtype: int64

In [11]:
df.groupby('cut')['carat'].max()

cut
Fair         5.01
Good         3.01
Ideal        3.50
Premium      4.01
Very Good    4.00
Name: carat, dtype: float64

In [12]:
df.groupby('cut')['carat'].min()

cut
Fair         0.22
Good         0.23
Ideal        0.20
Premium      0.20
Very Good    0.20
Name: carat, dtype: float64

Podemos entender el groupby como un paquete de objetos y por el cual se recorren aplicandole diversas funciones.

In [14]:
for i in [0,1,2,3,'Hola']:
  print(i)

0
1
2
3
Hola

Lo que sucede en el **bucle for** simple anterior es lo mismo esta sucediendo en el método groupby, pero optimizado.

In [20]:
for key_group, group in df.groupby('cut'):
  grouped_price = group['price'].mean()

  print('Cut: {}, Price: {} \n'.format(key_group, grouped_price))

Cut: Fair, Price: 4358.757763975155

Cut: Good, Price: 3928.864451691806

Cut: Ideal, Price: 3457.541970210199

Cut: Premium, Price: 4584.2577042999055

Cut: Very Good, Price: 3981.7598907465654

Tambien con **groupby** podemos crear dataframe con **dos indices**, **el promedio de los precios** y **convertir el objeto en una dataframe**.

In [23]:
df.groupby(['cut', 'color'])['price'].mean().to_frame()

                       price
cut       color
Fair      D      4291.061350
          E      3682.312500
          F      3827.003205
          G      4239.254777
          H      5135.683168
          I      4685.445714
          J      4975.655462
Good      D      3405.382175
          E      3423.644159
          F      3495.750275
          G      4123.482204
          H      4276.254986
          I      5078.532567
          J      4574.172638
Ideal     D      2629.094566
          E      2597.550090
          F      3374.939362
          G      3720.706388
          H      3889.334831
          I      4451.970377
          J      4918.186384
Premium   D      3631.292576
          E      3538.914420
          F      4324.890176
          G      4500.742134
          H      5216.706780
          I      5946.180672
          J      6294.591584
Very Good D      3470.467284
          E      3214.652083
          F      3778.820240
          G      3872.753806
          H      4535.390351
          I      5255.879568
          J      5103.513274

Podemos crear nuestras propias funciones o utiilzar muchas funciones, incluso de otras librerias y aplicarlas. Esto lo hago gracias al a función **.aggregate()** y le paso una lista del nombre de las funciones. A las que no le especifique la libreria de donde provienen, las tomas como si fueran de pandas. Tambien las podemos pasar como un string, como se ve:

In [24]:
df.groupby(['cut', 'color'])['price'].aggregate([min, np.mean, 'max'])

                 min         mean    max
cut       color
Fair      D      536  4291.061350  16386
          E      337  3682.312500  15584
          F      496  3827.003205  17995
          G      369  4239.254777  18574
          H      659  5135.683168  18565
          I      735  4685.445714  18242
          J      416  4975.655462  18531
Good      D      361  3405.382175  18468
          E      327  3423.644159  18236
          F      357  3495.750275  18686
          G      394  4123.482204  18788
          H      368  4276.254986  18640
          I      351  5078.532567  18707
          J      335  4574.172638  18325
Ideal     D      367  2629.094566  18693
          E      326  2597.550090  18729
          F      408  3374.939362  18780
          G      361  3720.706388  18806
          H      357  3889.334831  18760
          I      348  4451.970377  18779
          J      340  4918.186384  18508
Premium   D      367  3631.292576  18575
          E      326  3538.914420  18477
          F      342  4324.890176  18791
          G      382  4500.742134  18741
          H      368  5216.706780  18795
          I      334  5946.180672  18823
          J      363  6294.591584  18710
Very Good D      357  3470.467284  18542
          E      352  3214.652083  18731
          F      357  3778.820240  18777
          G      354  3872.753806  18818
          H      337  4535.390351  18803
          I      336  5255.879568  18500
          J      336  5103.513274  18430

Cada una de las funciones que le pedí las toma como una nueva columna. 

Ahora apliquemos una nueva función creada por nosotros.

In [25]:
def mean_kilo(x):
  return np.mean(x)/1000

In [26]:
df.groupby(['cut', 'color'])['price'].aggregate([min, np.mean, 'max', mean_kilo]).head(5)

            min         mean    max  mean_kilo
cut  color
Fair D      536  4291.061350  16386   4.291061
     E      337  3682.312500  15584   3.682313
     F      496  3827.003205  17995   3.827003
     G      369  4239.254777  18574   4.239255
     H      659  5135.683168  18565   5.135683

Tambien podemos crear un diccionario de instrucciones y pasarselo a **aggregate()**. Por ejemplo puedo crear un diccionario donde quiera obtener varios estudios estadisticos.

In [27]:
dict_agg = {'carat':[min, max],
            'price':[np.mean, mean_kilo]}
dict_agg

{'carat': [<function min>, <function max>],
 'price': [<function numpy.mean>, <function __main__.mean_kilo>]}

En este caso se creará un dataframe con dos indices para las filas y dos indices para las columnas.

In [28]:
df.groupby(['cut', 'color']).aggregate(dict_agg).head(5)

           carat              price
             min   max         mean mean_kilo
cut  color
Fair D      0.25  3.40  4291.061350  4.291061
     E      0.22  2.04  3682.312500  3.682313
     F      0.25  2.58  3827.003205  3.827003
     G      0.23  2.60  4239.254777  4.239255
     H      0.33  4.13  5135.683168  5.135683

In [29]:
def f_filter(x):
  return mean_kilo(x['price']) > 4

In [30]:
df.groupby('cut').filter(f_filter)

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[15401 rows x 10 columns]

In [31]:
df.groupby('cut').filter(f_filter)['cut'].unique()

array(['Premium', 'Fair'], dtype=object)